html, body{
    background-color: #EEE;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.title {
    color: #000;
    text-align:center;
    font-size:11pt;
    font-weight:bold;

}

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40vw;
    height: 60vh;
    background-color: white;
    padding: 5vh;
}

.center {
     text-align: center;
}

img {
    width:10vh;
    height:10vh;
}

.content {
    width: 100%;
    font-size: 10pt;
    height: 200px;
}

.login {
    margin: auto;
    width: 25vw;
    height: 20vh;
    border: 1px solid lightgray;
    
}

.error {
    color: #ff0000;
    font-style: italic;
    font-size: 12px;
}